WEBT/Workspace/Week2/xmlValidator/src/stamtrae.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person" type="personType"/>

    <xs:complexType name="parentType">
        <xs:sequence>
            <xs:element ref="person" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="personType">
        <xs:all>
            <xs:element name="mother" type="parentType"/>
            <xs:element name="father" type="parentType"/>
        </xs:all>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
</xs:schema>